@mixin input($original-class: "", $active-class: "", $disabled-class: "") {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  @if $disabled-class != "" {
    &.#{$disabled-class} {
      cursor: not-allowed;
    }
  }

  @if $original-class != "" {
    .#{$original-class} {
      outline: none;
      padding: 5px 8px;
    }
  }
}
